* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

main {
    width: 960px;
    padding: 50px 0;
    margin: 0 auto;
}

.list {
    
}

.list p:nth-child(odd) {
    background-color: lightgray;
}

.list p {
    padding: 20px;
}

.item {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.item-box {
    height: 200px;
    width: 30%;
    margin: 0 5% 40px 0;
}

.item-box:nth-child(1) {
    background-color: orange;
}

.item-box:nth-child(2) {
    background-color: yellow;
}

.item-box:nth-child(3) {
    background-color: yellow;
    margin: 0 0 40px 0;
}

.item-box:nth-child(4) {
    background-color: yellow;
}

.item-box:nth-child(5) {
    background-color: orange;
}

.item-box:nth-child(6) {
    background-color: yellow;
    margin: 0 0 40px 0;
}

.item-box:nth-child(7) {
    background-color: yellow;
    margin: 0 5% 0 0;
}

.item-box:nth-child(8) {
    background-color: yellow;
    margin: 0 5% 0 0;
}

.item-box:nth-child(9) {
    background-color: orange;
    margin: 0 0 0 0;
}
