* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: hotpink;
    padding: 30px 20px;
    display: flex;
    justify-content: flex-end;
}

header > div:first-child {
    margin-right: auto;
}

header > div {
    background-color: pink;
    flex-basis: 140px;
    height: 70px;    
    margin: 0 10px;
}

main {
    display: flex;
    justify-content: center;
}

.main-left {
    width: 300px;
    background-color: palegreen;
}

.main-flex {
    flex-grow: 1;
    max-width: 700px;
    background-color: green;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-flex > div {
    height: 130px;
    flex-basis: 200px;
    margin: 10px;
    background-color: yellow;
}

footer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
}

footer > div {
    margin: 10px;
    flex-basis: 45%;
    max-width: 600px;
    height: 40px;
    background-color: lightblue;
}